nav {
  height: 20vh;
  width: 100%;
  background-image: linear-gradient(to right, #47608f, #eefd9c);
  color: #000;
  /* margin-bottom: 20px; */
}
.navitems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navitems h2 {
  font-size: 30px;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1.5em;
}

.navitems button {
  width: 25%;
  height: 10vh;
  border: 2px solid transparent;
  border-radius: 30px;
  background-color: #79a7f0;
  font-family: serif;
  font-size: 20px;
  margin: auto 2em;
}

.fetchbtn:hover {
  background-color: rgb(26, 95, 224);
  cursor: pointer;
  font-size:x-large;
  color: aliceblue;
}
.userdatacontainer {
  width: 100%;
  height: fit-content;
  background-image: linear-gradient(to bottom right, #c2ffd9, #64c9cf);
}
#main {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  /* padding-top: 10vh; */
}
.name:hover {
  cursor: pointer;
  color: red;
}

.avatar {
  border-radius: 30%;
}

.profile_cont {
  border-radius: 15%;
  background-image: radial-gradient(#986d8e, #ffe6e6);
  margin: 5px;
  padding: 10px;
  width: 30%;
  text-align: center;
  transition: transform ease 0.2s;
  opacity: 0.8;
  margin-top: 8vh;
}

.profile_cont:hover {
  transform: scale(1.2);
  opacity: 1;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
